body{
    margin: 0;
    padding: 0;
    background-image: url("assets/5.jpg");
    background-size: cover;
    
}
.form-box{
	width: 380px;
	height: 550px;
	position: relative;
	background:rgb(190, 233, 233);
	margin: 6% auto;
	padding: 5px;
	overflow: hidden;
	
}

.button-box{

	width: 220px;
	margin: 30px auto;
	position: relative;
	box-shadow: 0 0 20px 9px none;
	border-radius: 30px;
}
.toggle-button{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right,#008B8B,#00ffff);
	border-radius : 30px;
	transition: .5s;
}
.input-box {
	top:100px; 
	width: 250px ;
	position: absolute;
	transition: .5s;
	margin-left: 20px;

}
.control{
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;


}
.control label{
   display: inline-block;
   margin-bottom: 5px;
}
.control input{
    border:2px solid rgb(113, 223, 223);
    border-radius: 4px;
    display:block;
    font-family: inherit;
    font-size: 14px;
    padding: 5px;
    width: 100%;
}
.control.success input{
border-color: rgb(13, 148, 64);
}

.control.error input{
    border-color: red;
    }

    .control.error i.fa-exclamation-circle{
        color: red;
        visibility: visible;
     }
        
.control.success i.fa-check-circle{
            color: rgb(13, 148, 64);
            visibility: visible;
}

.control.error small{
   color: red;
   visibility: visible;
    }

.control i{
    position: absolute;
    top: 30px;
    right: 0px;
    visibility: hidden;
}
.control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
#btn2{
	padding: 10px 30px;
	width: 90%;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right,#008B8B,#00ffff);
	border: 0;
	outline: none;
	border-radius: 30px;
}
#register{
	left: 50px;
}
#login{
	left: 450px;
}

